body {
  background-color: #303136;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  color: #C9CACC;
}

h4 {
  padding-left: 20px;
  margin-bottom: 10px;
  color: #C9CACC;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.6);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(160, 160, 160, 0.8);
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.home-page {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.app-title {
  color: white;
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  padding: 16px 0px;
}

.club-search-container {
  padding: 0px 24px;
}

.club-search {
  width: 100%;
}

.room-name {
  color: white; 
}

.group-item-list {
  padding: 8px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  column-width: 50%;
  column-gap: 8px;
}

.group-item {
  display: flex;
  flex: 1;
  padding: 8px 12px;
  /* border-radius: 12px; */
  width: 100%;
  /* background-color: #C9CACC; */
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid gray;
}

.group-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.group-item-name {
  flex: 1;
  /* color: black; */
  color: #C9CACC;
  font-size: 20px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.join-button {
  margin: 0px;
  background-color: green;
  color: white;
  border-radius: 32px;
  border: none;
}

.right-sidebar {
  border-left: 1px solid #C9CACC;
  overflow-x: hidden;
  overflow-y: scroll;
}

.left-sidebar {
  border-right: 1px solid #C9CACC;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home-icon {
  font-size: 32px;
}

.user-profile {
  height: 70px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: row;
  border-bottom: 1px solid #C9CACC;
  cursor: pointer;
  color: #C9CACC;
}

.user-profile:hover {
  background-color: #D8D1D1;
  color: #303136;
}

.user-profile span {
  display: block;
}

.user-profile .username {
  font-size: 20px;
  font-weight: 700;
}

.profile-info {
  flex: 1;
  flex-direction: column;
  margin-left: 12px;
}

.admin-options {
  border-top: 1px solid #C9CACC;
  margin: 0px;
  padding: 0px;
}

.chat-rooms li, .room-member {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  color: #181919;
  cursor: pointer;
  border-bottom: 1px solid #C9CACC;
  margin-bottom: 0;
  color: #C9CACC;
}

.room-member {
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  color: #C9CACC;
}

.send-dm {
  opacity: 0;
  pointer-events: none;
  font-size: 20px;
  border: 1px solid #C9CACC;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 0 10px;
  line-height: 1.4;
  height: auto;
}

.room-member:hover .send-dm {
  opacity: 1;
  pointer-events: all;
}

.presence {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #C9CACC;
  margin-right: 10px;
  border-radius: 50%;
}

.presence.online {
  background-color: green;
}

.chat-rooms .active {
  background-color: #C9CACC;
  color: #181919;
}

.chat-rooms li:hover {
  background-color: #D8D1D1;
  color: #303136;
}

.room-icon {
  display: inline-block;
  margin-right: 10px;
}

.chat-screen {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 0px;
}

.chat-header {
  height: 70px;
  flex-shrink: 0;
  border-bottom: 1px solid #C9CACC;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #C9CACC;
  position: fixed;
  width: 66.6666666667%;
  top: 0px;
  background-color: #303136;
}

.chat-header h3 {
  margin-bottom: 0;
  text-align: center;
  color: #C9CACC;
}

.chat-footer {
  position: fixed;
  bottom: 0px;
  width: 66.666666667%;
  background-color: yellow;
}

.chat-buffer {
  height: 70px;
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: min-content;
  color: #C9CACC;
  margin-top: 80px;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #C9CACC;
}

.message span {
  display: block;
  text-align: left;
}

.message .user-id {
  font-weight: bold;
}

.message-form {
  border-top: 1px solid #C9CACC;
  color: #C9CACC;
}

.message-form, .message-input {
  width: 100%;
  margin-bottom: 0;
  color: #C9CACC;
}

input[type="text"].message-input {
  height: 50px;
  border: none;
  padding-left: 20px;
  color: #C9CACC;
}

/* Dialog
   ========================================================================== */

.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content:center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: #C9CACC;
  display: flex;
  align-items:  center;
}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;
}

.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.username-input {
  width: 100%;
}

input[type="text"]:focus {
  border-color: #5C8436;
}

.submit-btn {
  color: #5C8436;
  background-color: #181919;
  width: 100%;
}

.submit-btn:hover {
  color: #5C8436;
  background-color: #222;
}

.create-group-modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.create-group-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 2;
}

.create-group-model-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.create-group-model-close:hover,
.create-group-model-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.create-group-modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
